#function{
    min-height: calc(100dvh - 91px);   
}

#function .section-title{
    text-align: center;
    font-weight: 700; 
    padding: 10px;
    color: blueviolet;
}

#function p{
    padding: 20px;
    color: rgb(76, 0, 147);
    font-size: 1rem;
}

#function .section-subtitle{
     text-align: center;
     font-weight: 500; 
     padding: 7px;
     margin-bottom: 1%;
}
#function .section-subtitle span{
    color: blueviolet;
    font: bold;
}
#grid{
    display: grid;
    gap: 18px;
    text-align: center;
    justify-content: center;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

#grid-function{
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(17, 86, 136, 0.178);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 2px rgba(83, 18, 189, 0.381);
    transition: transform .3s ease, background-color .3s ease;
    
}
#grid-function:hover{
    box-shadow: 0px 0px 12px 8px rgba(96, 39, 190, 0.381);
    transform: translateY(-10px); 
}
#grid-function h4{
    color: rgb(0, 0, 0);
    font-size: larger;
    font-weight: bold;

}   

@media screen and (max-width: 450px){
    #grid{
        flex-wrap: nowrap;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
    }
    #grid-function{
        width: calc(50% -18px);
    }
}