#testimonials{
  min-height: calc(100dvh - 91px);   
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
#logoTest{
    width: 500px;
    height: auto;
}
#testimonials .section-title{
    font-size: 3rem;
    color: blueviolet;
}

#testimonials .section-subtitle{
    font-size: 2rem;
}
#testimonials-content{
    width: 50%;
}
#feedbacks{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}
.feedback{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 2px rgba(83, 18, 189, 0.381);
}


.feedback-content p{
    display: flex;
    justify-content: space-between;
}
.feedback-content p span{
    margin-left: 20px;
}
.feedback-content p i{
    color: #e9a209;
}
.feedback-avatar{
    width: 10%;
}

@media screen and (max-width: 450px){
    #testimonials{
        flex-direction: column;
    }
    #testimonials .section-subtitle{
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    #testimonials-content{
        width:100% ;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feedback-content p{
        margin-top: 10px;
    }
     .feedback-content span{
        display: none;
     }
}
