@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(footer.css);
@import url(function.css);
@import url(header.css);
@import url(home.css);
@import url(testimonials.css);
@import url(planos.css);


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #91BEFF;
}
section{
    padding: 28px 20px;
}

.btn-default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(107, 107, 179);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(83, 18, 189, 0.381);
    cursor: pointer;
    transition: background-color .3s ease;
}
.btn-default:hover{
    background-color: rgb(65, 65, 197);
}
.social-media-buttons{
    display: flex;
    gap: 18px;

}
.social-media-buttons a{
display: flex;
align-items: center;
justify-content: center;
width: 45px;
height: 40px;
background-color: rgba(17, 86, 136, 0.178);
font-size: 1.25rem;
border-radius: 10px;
text-decoration: none;
box-shadow: 0px 0px 12px 4px rgba(83, 18, 189, 0.381);
transition: box-shadow .3s ease;
}
.social-media-buttons a:hover{
    box-shadow: 0px 0px 12px 8px rgba(96, 39, 190, 0.381);
}

#banner{
    display: flex;
    align-items: start;
    width: 70%;
}
#banner img{
    height: 70%;
    width: fit-content;
}